.App {
  background-color: rgb(140, 140, 255);
  margin:  10% auto;
  padding: 2rem;
  width: 20%;
}
body{
  background-color: rgb(75, 29, 29);
  height: 100%;
}
.App li{
  list-style-type: square;
}

